<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <typeAliases>
        <typeAlias type="com.m.sql.entity.Telegram_user" alias="telegram_user"/>
        <typeAlias type="com.m.sql.entity.Telegram_group" alias="telegram_group"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers >
        <mapper resource="com/m/sql/mapper/Telegram_userMapper.xml"/>
        <mapper resource="com/m/sql/mapper/Telegram_groupMapper.xml"/>
    </mappers>
</configuration>